* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 5px;
  margin-bottom: 5px;
  background-color:gainsboro;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color:cornflowerblue;
  color: white;
  cursor: pointer;
}

button:active{
  background-color:rgb(152, 180, 233);
  color: white;
}

header {
  box-sizing: border-box;
  /* height: 10vh; */
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1%;
  padding-top: 1%;
  background-color: white;
  opacity: 0.9;
}

aside {
  box-sizing: border-box;
  /* height: 20vh; */
  display: flex;
  justify-content: center;
  padding: 1%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  padding: 2%;
}

section {
  padding: 1%;
  background-color: white;
}

ul {
  list-style: none;
}

#btnPdf {
  float: right;
}

#mapBox {
  height: 40vh;
  width: 100%;
}

#mapContainer {
  width: 90%;
}

#mapContainerContainer {
  display: flex;
  justify-content: center;
}

#munDatosTop {
  display: flex;
  flex-wrap: wrap;
}

#municipioInfo {
  display: none;
}

#municipioInfo p {
  margin: 1%;
}

#munTiempoTop {
  display: flex;
  flex-wrap: wrap;
}

#provinceInfo p {
  font-size: 1.2em;
  margin: 2%;
  line-height: 23pt;
}

#provDatos,
#provTiempo,
#munDatos,
#munTiempo {
  border: solid black 1px;
  margin: 2%;
  /* min-height: 20vh; */
  padding: 1%;
  border-radius: 5px;
}

#provinceList,
#provinceMunicipiosList {
  height: 55vh;
  overflow-y: scroll;
}

#provinceList > li:hover,
#provinceMunicipiosList > li:hover {
  color: white;
  background-color: blue;
}

.mainSection {
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  /* background-color: white; */
  margin: 5px;
  /* opacity: 0.9; */
  padding: 1em;
}

.searchBar {
  width: 70%;
}

.sectionHeader {
  min-height: 10%;
  border-bottom: solid black 1px;
  margin-bottom: 10px;
}

.sectionHeader > * {
  margin: 4px;
}
