*{
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid black 3px;
}

main > section {
    width: 22%;
}

section {
    border: solid black 3px;
    margin: 3%;
    padding: 1%;
}

article {
    margin: 3%;
    padding: 3%;
}

ul {
    list-style: none;
}


#municipioInfo{
    display: none;
}