* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1%;
}

body {
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 5px;
  margin-bottom: 5px;
  background-color: gainsboro;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: rgb(152, 180, 233);
  color: white;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1%;
  padding-top: 1%;
  background-color: white;
  opacity: 0.9;
}

li {
  border-bottom: solid black 1px;
}

main {
  display: flex;
  padding: 2%;
}

section {
  padding: 1%;
  background-color: white;
}

ul {
  list-style: none;
}

#btnPdf {
  float: right;
}

#error {
  text-align: center;
  background-color: red;
  color: white;
  opacity: 0.8;
  width: 30vh;
  padding: 5px;
  border-radius: 5px;
  margin: 1%;
}

#error > button {
  background-color: red;
  color: white;
}

#feedback {
  display: none;
  justify-content: center;
  width: 100%;
}

#mapBox {
  height: 40vh;
  width: 100%;
}

#mapContainer {
  width: 90%;
}

#mapContainerContainer {
  display: flex;
  justify-content: center;
}

#munDatosTop {
  display: flex;
  flex-wrap: wrap;
}

#municipioInfo {
  display: none;
}

#municipioInfo p {
  margin: 1%;
}

#munTiempoTop {
  display: flex;
  flex-wrap: wrap;
}

#provinceInfo p {
  margin: 2%;
  line-height: 23pt;
}

#provDatos,
#provTiempo,
#munDatos,
#munTiempo {
  border: solid black 1px;
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
}

#provinceInfo,
#muncipioInfo {
  width: 50vw;
}

#provinceListSection,
#provinceMunicipios {
  width: 20vw;
}

#provinceList,
#provinceMunicipiosList {
  height: 55vh;
  overflow-y: scroll;
}

#provinceList > li:hover,
#provinceMunicipiosList > li:hover {
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}

.mainSection {
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  padding: 1em;
}

.searchBar {
  width: 70%;
}

.sectionHeader {
  min-height: 10%;
  border-bottom: solid black 1px;
  margin-bottom: 10px;
}

.sectionHeader > * {
  margin: 4px;
}

@media only screen and (max-width: 700px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #provinceInfo,
  #muncipioInfo {
    width: 100vw;
  }

  #provinceListSection,
  #provinceMunicipios {
    width: 40vw;
  }
}
